#login-container {
  padding: 20px;
  margin-top: 5%;
  width: 75%;
  margin-left: 25%;
  border-radius: 7px;
  border-color: lightgray;
}
#email, #password, #label {
    width: 75%;
    font-size: 22px;
}

#login-button {
    width: 75%;

    margin-top: 20px
}